# =========================================================
# Kubernetes Secrets
# =========================================================


mysql-secret.yaml
*-secret.yaml
*secret*.yaml
*secrets*.yaml


# Arquivos de ambiente
.env
.env.*
*.env

.aws/
credentials
config

# Kubeconfig arquivos
kubeconfig
*.kubeconfig
config-k8s
k8s-config
aviso.txt

# Logs e arquivos temporários

*.log
logs/
tmp/
temp/
*.tmp
